<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../public/js/loose.js"></script>
    <link rel="stylesheet" href="../public/css/loose.css">
    <title>Lose (You bad)</title>
</head>
<body>
    <div class="looseBox">
        <h1>You lose !</h1>
        <button onclick="window.location.href = 'http://127.0.0.1:5500/views/game.html';">Try again</button>
    </div>
    <img src="../public/img/white_king_fall.png" style="width: 600px; height: 400px;">
</body>
</html>