$whiteColor: #dbdebe;
$blackColor: #779556;

.cell {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.board {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 500px;
    img {
        width: 50px;
        height: 50px;
    }
    .black {
        background-color: $blackColor;
    }
    
    .white {
        background-color: $whiteColor;
    }
    
    .selected {
        background-color: orange;
    }
    
    .whitePreMoves {
        background-color: #bec297;
    }
    .blackPreMoves {
        background-color: #accc99;
        ;
    }
    .eatable {
        background-color: #ff5032;
    }
}